@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,100;1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,span, ::placeholder{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.logotag{
    color: #bd4839;
    font-weight: 900;
}

/* font-family: 'Agdasima', sans-serif; */

.bg-darkLed{
    background-color: #212427;
}

/*------- Header css ---------*/
.headerWrapper{
    box-shadow: 0 8px 5px -7px #464444;
    -webkit-box-shadow:0 8px 5px -7px #464444;
    padding-bottom: 1px;
    border-bottom: 0.3px solid #444242;
    font-weight: 300;
}

.Navbar , .Navbar .btn{
    font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 300;
}
.Navbar .nav-link{
    font-size: 17px;
   
}
.Navbar .btn{
    letter-spacing: 1.5px;
}


.Navbar .active{
    position: relative; 
    transition: 1s linear;
    
}
.Navbar .active:before{
    position: absolute;
    content: '';
    border-bottom: 2px solid #fff;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
}



/* ----------Registration form--------- */

.RegistrationForm-container label, button , input{
    font-size: 17px;
}
/* -------------Login Form----------------------- */
.loginContainWrapper label, button , input{
    font-size: 17px;
}
/* --------------LogOut ------------------------------ */
.logOutsvg svg{
    stroke-width: 5px;
}

.logoutprofilework  .profile-name{
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 1px;
}

.logoutprofilework  .dropdown-toggle::after {
    margin-left: 0.455em;
    border-top: 0.5em solid #a59999;
    border-right: 0.5em solid transparent;
    border-bottom: 0;
    border-left: 0.5em solid transparent;
}
.logoutprofilework a{
   font-weight: 300;
   letter-spacing: 2px;
}
.logoutprofilework .active , .logoutprofilework  .dropdown-item:focus, .logoutprofilework  .dropdown-item:hover{
    background-color: #212529;
    color: #fff;
}
.eccomerce-card .badge {
    position: relative;
    left: 69%!important;
    top:0;
    display: block;
    width: 44px;
    height: 26px;
    overflow: hidden;
}